body{
    font-family: sans-serif;
    background: linear-gradient(115deg, rgba(101,151,209,0.8),rgba(202,102,211,0.5)),url(/quizbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 112vh;
}
h1{
    color: rgb(7, 7, 7);
    text-align: center;
    font: Sans serif;
    font-size: 20px;
    padding-top: 10px;
}
.des{
    text-align: center;
    margin: 0 auto;
}
.sentence {
    cursor: pointer;
}
.rearrange {
    text-align: left;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
  }
th, td {
    width: 30px;
}